html {
	background-color: white;
}

header {
	margin-top: 0px;
	background-color: #06EBEB;
	width: 110%;
	margin-left: -5%;
	margin-top: -10px;
	padding: 3px;
	color: #AA7400;
	text-decoration: none;
	font-family: "Tahoma", Geneva, sans-serif
}

a:visited {
	color: black;
}

a:hover {
	color: white;
}

.head h1 {
	width: 110%;
	margin-left: -5%;
	color: #651DEF;
	font-family: helvetica;
	background-color: #EDC56E;
}

.wrapper {
	font-family: "trebuchet ms";
}

#rankings{
	height: 1000%;
	float: left;
	width: 10%;
}

.wrapper h3 {
	margin: 0px 0px 0px 0px;
	margin-bottom: 5px
}

.wrapper img {
	display: block;
	float: left;
	height: 300px;
	width: 400px;
	margin: 0px 0px 10px 10px;
}

.wrapper p{
	float:	left;
}

.wrapper p img {
	height: 100px;
	width: 200px;
}
